h1 {
    background-color: black;
    color: white;
    font-family: cursive;
}
.aqua {
    color:aqua;
}
h2 {
    background-color: purple;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-family: cursive;
    padding: 5px;
}
h3 {
    background-color: rgb(134, 134, 235);
    color: rgb(112, 67, 139);
    text-align: right;
    font-family: cursive;
    text-decoration: underline;
    padding: 5px;
}